extends layout 

block content
    a(href="/") Return Home
    h1 Send a Message
    form(action="/new" method="POST")
        p
            label(for="user") User:
            input(type="text" name="user" id="user" placeholder="Enter your username" required)
        p
            label(for="message") Message:
            input(type="text" name="message" id="message" placeholder="Enter your message" required)
        p
            input(type="submit" value="Send")