extends layout 

block content 
    div.content
        div.nav-button
            a(href="/walls") Back to Walls
        div#new-wall-form
            form(action='/walls/new-wall', method="POST")
                label(for="name") Wall Name:
                input(type="text", name="name", placeholder="Enter the Wall's name (Max 16 char)" maxlength="16" required)

                label(for="description") Description:
                textarea(name="description", placeholder="Enter a Description (Max 256 char)" maxlength="128" required)

                button(type="submit") Create Wall