extends layout

block content
  div.content
    h1= "Join a Wall"
    p= "Click on a wall to view it."

    a(href="/walls/new-wall") Create a new wall

    div#wall-box
      ul
        each wall in walls
            div.wall-div
                a(href=`/walls/${wall.id}`)= `${wall.name}`