extends layout

block content
  div.content
    h1= "Join a Wall"
    p= "Click on a wall to view it."

    form(action='/walls/new-wall', method="POST")
        label(for="name") Wall Name:
        input(type="text", name="name", required)
        br

        label(for="description") Description:
        textarea(name="description", required)
        br

        button(type="submit") Create Wall

    div#wall-box
      ul
        each wall in walls
            div.wall-div
                a(href=`/walls/${wall.id}`)= `${wall.name}`