body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Main Content */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Message Box */
#msg-box {
  border-color: black;
  display: flex;
}

.msg-div {
  display: flex;
  border-color: black;
}

#form-div {
  display: flex;
}